
body {
    font-family: 'Cinzel', serif;
    
}
.container {
    margin: auto 0;
}
.players {
    width: 300px;
    height: 200px;
    display: inline-block;
    position: relative;
    left: 160px;
}
.hole {
	border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: peachpuff; 
    display: inline-block;
    margin-top: 0 auto;
    position: relative;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
}
.topSeperator.active, .bottomSeperator.active {
    pointer-events: none;
}



.bucket1  {
    background-color: palevioletred;
    width: 75px;
    height: 300px;
    margin: 0 auto;
    position: absolute;
    top: 52px;
    text-align: center;
    display: inline-block;
    left: 33px;
    font-size: 50px; 
    border-radius: 20px;
}
.bucket2  {
    background-color: palevioletred;
    width: 75px;
    height: 300px;
    margin: 0 auto;
    position: absolute;
   font-size: 50px;
    text-align: center;
    display: inline-block;
    right: 33px;
    top: 52px;
    border-radius: 20px;
}

.topSeperator {
    height: 145px;
    width: 750px;
    display: inline-block;
    position: absolute;
    bottom: 180px;
    left: 133px;
    margin: 0 auto;
}
.bottomSeperator {
    height: 145px;
    width: 750px;
    display: inline-block;
    position: absolute;
    bottom: 42px;
    left: 129px;
    margin: 5px;
}

.gameBoard {
    height: 400px;
    width: 1000px;
    border: 5px solid black;
    margin: 0 auto;
    position: relative;
    bottom: 205px;
    background-color: burlywood;
    border-radius: 20px;
}
h1 {
    text-align: center;
    font-size: 50px;
}
h2 {
    position: relative;
    left: 25px;
}

h3  {
    position: relative;
    left: 25px;
    display: inline-block;
    
}


 button {
    position: relative;
    right: 25px;
    top: 350px;
    width: 120px;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin: 0 auto;
    margin-top: 20px;
    

    /* display: inline-block; */
 }
 .info {
     width: 400px;
     height: 250px;
     margin: 0 auto;
     position: relative;
     left: 684px;
     top: 505px;
     border: 2px solid black;
     display: inline-block;
 }
 p{
    position:absolute;
    top: 37%;
    width:100%;
    transform:translate(0, -50%);
    text-align:center;
  }